.scrollbar {
    
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ececec;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #e1e1e1;
}